body{
    background: linear-gradient(70deg, rgb(252, 252, 125), orange);
}
form{
    text-align: absolute;
    font-family: 'Domine', serif;
    box-sizing: border-box;
    border-radius: 5%;

    border-width: 100px;

    

}h1{
    text-align: center;

}textarea{
    margin-bottom: 20px;
}
.input {
    border-radius: 15px;
  }
div{
    margin-bottom: 20px;
}
label{
    color:black
}
