h3{
    text-align: center;
}
#paquete {
    background-color: #f6eded;
    border-radius: 0.5rem;
    margin-bottom: 20px;
    margin-left: 5px;
    box-sizing: border-box;
    display: inline-block;
    width: 48%;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
p{
    color:black; 
}
